*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #848383;
   color: #fff;
   font-family: 'Open Sans', sans-serif;
   
}
.main{
   margin-top: 40px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

